<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartMirror</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <link href="../static/css/style.css" rel="stylesheet">

    <!--Atualiza data e hora-->
    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <script type="text/javascript">
        jQuery(window).load(function ($) {
            atualizaRelogio();
        });
    </script>

</head>
<body style="background-color: #151515">
<div class="container w-100 h-25">
    <div class="row w-100 h-25 my-5">
        <div class="col">
            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card text-white bg-dark mb-3">
                                <div class="card-body">
                                    <div id="cont_3d6ef30be3dca873637dca9f69531a9e">
                                        <script type="text/javascript" async
                                                src="https://www.tempo.com/wid_loader/3d6ef30be3dca873637dca9f69531a9e"></script>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-100 h-100">
            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 align-items-start">
                            <div class="card text-white bg-dark mb-3">
                                <div class="card-body">
                                    <h6 id="data" class="card-text"></h6>
                                    <h1 id="hora"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--teste templete spotify-->
    <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX0FOF1IUWK1W?theme=0"
            width="100%" height="200" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>


    <!--teste emaillist group-->
    <div class="list-group" style="margin-top: 15%">
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"
           style="background-color: transparent">
            <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png" alt="twbs"
                 style="margin-right: 10px">
        </a>

        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"
           style="background-color: transparent">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                 class="rounded-circle flex-shrink-0" style="margin-right: 10px">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">List group item heading</h6>
                    <p class="mb-0 opacity-70">Some placeholder content in a paragraph.</p>
                </div>
                <small class="opacity-50 text-nowrap">now</small>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"
           style="background-color: transparent">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                 class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Another title here</h6>
                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little longer so it
                        wraps to a new line.</p>
                </div>
                <small class="opacity-90 text-nowrap">3d</small>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"
           style="background-color: transparent">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                 class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Third heading</h6>
                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                </div>
                <small class="text-nowrap">1w</small>
            </div>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</div>
</body>

<!--script para hora e data-->
<script>
    function atualizaRelogio() {
        var momentoAtual = new Date();

        var vhora = momentoAtual.getHours();
        var vminuto = momentoAtual.getMinutes();
        var vsegundo = momentoAtual.getSeconds();

        var vdia = momentoAtual.getDate();
        var vmes = momentoAtual.getMonth() + 1;
        var vano = momentoAtual.getFullYear();

        if (vdia < 10) {
            vdia = "0" + vdia;
        }
        if (vmes < 10) {
            vmes = "0" + vmes;
        }
        if (vhora < 10) {
            vhora = "0" + vhora;
        }
        if (vminuto < 10) {
            vminuto = "0" + vminuto;
        }
        if (vsegundo < 10) {
            vsegundo = "0" + vsegundo;
        }

        dataFormat = vdia + "/" + vmes + "/" + vano;
        horaFormat = vhora + ":" + vminuto + ":" + vsegundo;

        document.getElementById("data").innerHTML = dataFormat;
        document.getElementById("hora").innerHTML = horaFormat;

        setTimeout("atualizaRelogio()", 1000);
    }
</script>

</html>